<div class="text-center">
    <header class="py-5">
        <img src="/assets/image_logo.png" class="img-fluid" class="rounded" alt="Imagem responsiva">
    </header>
</div>

<div class="container main-container w-25">
  <div class="row row-sm-offset"></div>
    <form #frm="ngForm" (ngSubmit)="RealizarLogin(frm)" class="px-4 py-0">
      <mt-input-container></mt-input-container>
      <div class="form-group">
        <label class="form-control-label mbr-fonts-style display-7" for="email-form1-2w">Endereço de email</label>
        <input type="email" class="form-control" name="email" data-form-field="email" [ngModel]="login.email" required="" placeholder="email@exemplo.com" id="first-form1-2w">
      </div>
      <div class="form-group">
        <label class="form-control-label mbr-fonts-style display-7" for="exampleDropdownFormPassword1">Senha</label>
        <input type="password" class="form-control" name="senha" data-form-field="Senha" [ngModel]="login.senha" required="" placeholder="Senha" id="first-form1-2w">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Remember me
        </label>
      </div>
      <div class="container w-25 h-25">
      <button type="submit" class="btn btn-dark" [disabled] = "frm.invalid">Entrar</button>
      </div>

    </form>
    <label class="dropdown-item" class="footer" class="h-25"></label>
    <a class="dropdown-item" [routerLink]="['/cadastro']">Novo, por aqui? Regitre-se.</a>
</div>
